<!doctype html>
<html class="base en">
<head>
	<title>Websanova :: {{ page.title }}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="robots" content="NOODP,NOYDIR" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<style>
		* {box-sizing: border-box;}
		body {background-color: #f0f0f0; color: #3a3a3a; font-size: 14px; font-family: verdana;}
		h1 {margin-top: 0px;}
		a {text-decoration: none; color: #428bca;}
		pre {background: #dadada; padding: 5px;}
		code {background-color: #dadada; font-family: courier; color: #D14;}
		pre > code {color: #333;}
		blockquote {font-style: italic;}
		#col-left ul {margin: 0px; padding: 0 0 0 12px;}
		#col-left ul li {margin-bottom: 5px; font-size: 12px;}

		#container {max-width: 1000px; margin: 0 auto;}
		#header {padding: 10px 10px 0 10px; color: #9a9a9a;}

		#date {display:block; color: #bababa; margin-bottom: 5px;}

		#col-left, #col-right {float: right; padding: 10px;}
		#col-left { width: 100%; color: #9a9a9a;}
		#col-right { width: 100%; word-wrap: break-word;}

		#col-left ul {margin-bottom: 20px;}
		
		@media (min-width: 768px) {
			#col-left { width: 25%; }
			#col-right { width: 75%; }
			#header {display: none;}		
		}

		.websanova-plugins-page-horizontal-responsive-max { display:block; width: 320px; height: 50px; margin: 15px auto 0 auto; }
		@media(min-width: 520px) { .websanova-plugins-page-horizontal-responsive-max { width: 468px; height: 60px; } }
		@media(min-width: 768px) { .websanova-plugins-page-horizontal-responsive-max { width: 728px; height: 90px; } }

		.websanova-plugins-page-horizontal-responsive-max2 { display:block; width: 320px; height: 50px; margin: 20px auto 0 auto; }
		@media(min-width: 520px) { .websanova-plugins-page-horizontal-responsive-max2 { width: 468px; height: 60px; } }
		@media(min-width: 768px) { .websanova-plugins-page-horizontal-responsive-max2 { width: 468px; height: 60px; margin: 20px 0 0 0; } }
	</style>

	<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
	<div id="container">

		<!-- google adsense -->
		<ins class="adsbygoogle websanova-plugins-page-horizontal-responsive-max" data-ad-client="ca-pub-3292441848617055" data-ad-slot="4745240138"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

		<div id="header">
			<ul>
				<li><a href="/"><b>Websanova</b></a></li>
				<li><a href="http://github.com/websanova"><b>GitHub</b></a></li>
				<li><a href="/plugins"><b>Plugins</b></a></li>
				<li><a href="/books"><b>Books</b></a></li>
				<li><a href="/games"><b>Games</b></a></li>
				<li><a href="#articles"><b>Articles</b></a></li>
				<li><a href="http://langnova.com"><b>langnova.com</b></a></li>
			</ul>
		</div>

		<div id="col-right">
			<h1>{{ page.title }}</h1>
			<time id="date">{{ page.date }}</time>
			{{ content }}

			<!-- google adsense -->
			<ins class="adsbygoogle websanova-plugins-page-horizontal-responsive-max2" data-ad-client="ca-pub-3292441848617055" data-ad-slot="4745240138"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

			<div id="disqus_thread" style="margin-top:10px;"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'websanova'; // required: replace example with your forum shortname

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>

		<div id="col-left">
			<a name="articles"></a>
			<ul>
				<li><a href="/"><b>Websanova</b></a></li>
				<li><a href="http://github.com/websanova"><b>GitHub</b></a></li>
				<li><a href="/plugins"><b>Plugins</b></a></li>
				<li><a href="/books"><b>Books</b></a></li>
				<li><a href="/games"><b>Games</b></a></li>
				<li><a href="http://langnova.com"><b>langnova.com</b></a></li>


				<li><a href="/websanova-easycache-for-laravel-released">Websanova EasyCache for Laravel Released</a></li>
				<li><a href="/getting-started-with-github-pages">Getting Started With GitHub Pages</a></li>
				
				
				<li><a href="/one-virtual-host-to-rule-them-all">One Virtual Host to Rule Them All</a></li>
				<li><a href="/mysql-full-text-search">MySQL Full Text Search</a></li>
				<li><a href="/a-more-powerful-trim">A More Powerful Trim()</a></li>
				<li><a href="/websanova-javascript-extensions-project">Websanova JavaScript Extensions Project</a></li>
				<li><a href="/custom-events-using-the-jquery-special-events-api">Custom Events Using the jQuery Special Events API</a></li>
				<li><a href="/wform-awesome-jquery-form-plugins">wForm - Awesome jQuery Form Plugins</a></li>
				<li><a href="/winput-a-jquery-input-text-and-textarea-plugin">wInput - A jQuery Input Text and Textarea Plugin</a></li>
				<li><a href="/wselect-a-jquery-select-box-plugin">wSelect - A jQuery Select Box Plugin</a></li>
				<li><a href="/jquery-mouse-stop-event-plugin">jQuery .mousestop() Event Plugin</a></li>
				<li><a href="/javascript-parseint-radix">JavaScript ParseInt Radix</a></li>
				<li><a href="/wcheck-jquery-radio-checkbox-input-plugin">wCheck - jQuery Radio & Checkbox Input Plugin</a></li>
				<li><a href="/wchar-an-elegant-jquery-character-counter-plugin">wChar - An Elegant jQuery Character Counter Plugin</a></li>
				<li><a href="/an-intelligent-javascript-rgb-hex-converter">An Intelligent JavaScript RGB to HEX Converter</a></li>
				<li><a href="/how-to-setup-grunt-js">How to Setup Grunt.js</a></li>
				<li><a href="/steve-jobs-secrets-of-life">Steve jobs: Secrets of Life</a></li>
				<li><a href="/flippant-js-javascript-plugin">Flippant.js JavaScript Plugin</a></li>
				<li><a href="/websanova-redux">Websanova Redux</a></li>
				<li><a href="/websanova-wmodal-jquery-plugin">Websanova wModal JQuery Plugin</a></li>
				<li><a href="/manually-adding-php-versions-to-wamp">Manually adding PHP Versions to WAMP</a></li>
				<li><a href="/installing-php-oauth-on-windows">Installing PHP oAuth on Windows</a></li>
				<li><a href="/javascript-url-parser">JavaScript URL Parser</a></li>
				<li><a href="/the-ultimate-guide-to-writing-jquery-plugins">The Ultimate Guide to Writing jQuery Plugins</a></li>
				<li><a href="/two-reasons-a-project-will-keep-you-motivated">Two Reasons a Project Will Keep You Motivated</a></li>
				<li><a href="/how-to-design-a-rest-api-and-why-you-should">How to Design a REST API and Why You Should</a></li>
				<li><a href="/how-to-write-an-accurate-game-timer-in-javascript">How to Write an Accurate Game Timer in JavaScript</a></li>
				<li><a href="/jquery-max-character-counter-plugin">jQuery Max Character Counter Plugin</a></li>
				<li><a href="/html5-jquery-paint-plugin">HTML5 jQuery Paint Plugin</a></li>
				<li><a href="/how-to-write-your-own-jsfiddle-in-15-minutes-or-less">How to Write Your Own JSFiddle (In 15 Minutes or Less)</a></li>
				<li><a href="/loading-jquery-from-google-with-graceful-fallback">Loading jQuery From Google With Graceful Fallback</a></li>
				<li><a href="/why-javascript-for-in-loops-are-bad">Why JavaScript For In Loops Are Bad</a></li>
				<li><a href="/jquery-humanized-message-plugin">jQuery Humanized Message Plugin</a></li>
				<li><a href="/10-awesome-jquery-tag-cloud-plugins">10 Awesome jQuery Tag Cloud Plugins</a></li>
				<li><a href="/html5-jquery-scratch-pad-plugin">HTML5 jQuery Scratch Pad Plugin</a></li>
				<li><a href="/extending-javascript-the-right-way">Extending JavaScript - The Right Way</a></li>
				<li><a href="/jquery-remove-class-by-regular-expression">jQuery Remove Class by Regular Expression</a></li>
				<li><a href="/javascript-rgb-to-hex-converter">JavaScript RGB to Hex Converter</a></li>
				<li><a href="/duck-punching-jquery-ajax">Duck Punching jQuery Ajax</a></li>
				<li><a href="/a-large-collection-of-useful-jquery-utils">A Large Collection of Useful jQuery Utils</a></li>
				<li><a href="/jquery-plugin-development-boilerplate">jQuery Plugin Development Boilerplate</a></li>
				<li><a href="/building-collections-efficiently-using-jquery">Building Collections Efficiently Using jQuery</a></li>
				<li><a href="/12-awesome-jquery-selector-extensions">12 Awesome jQuery Selector Extensions</a></li>
				<li><a href="/16-step-jquery-plugin-development-lifecycle">16 Step jQuery Plugin Development Lifecycle</a></li>
				<li><a href="/10-coding-tips-to-write-superior-jquery-plugins">10 Coding Tips to Write Superior jQuery Plugins</a></li>
				<li><a href="/creating-awesome-effects-using-jquery-hover">Creating Awesome Effects Using jQuery Hover</a></li>
				<li><a href="/10-simple-guidelines-for-writing-jquery-plugins">10 Simple Guidelines for Writing jQuery Plugins</a></li>
				<li><a href="/wordpress-mysql-setup-commands">Wordpress MySQL Setup Commands</a></li>
				<li><a href="/install-php-on-centos">Install PHP on CentOS</a></li>
				<li><a href="/getting-wordpress-to-work-with-nginx">Getting Wordpress to Work With Nginx</a></li>
				<li><a href="/nginx-catch-all-rewrite">Nginx Catch All Rewrite</a></li>
				<li><a href="/wordpress-on-multiple-ports">Wordpress on Multiple Ports</a></li>
				<li><a href="/setting-up-php-with-nginx">Setting up PHP With Nginx</a></li>
				<li><a href="/install-and-configure-nginx-on-centos">Install and Configure Nginx on CentOS</a></li>
				<li><a href="/svn-conflicts">SVN Conflicts</a></li>
				<li><a href="/svn-command-reference">SVN Command Reference</a></li>
				<li><a href="/svn-best-practices">SVN Best Practices</a></li>
				<li><a href="/setup-and-use-iostat">Setup and Use iostat</a></li>
				<li><a href="/install-mailman-on-centos">Install Mailman on CentOS</a></li>
				<li><a href="/install-and-configure-ntp-on-centos">Install and Configure NTP on CentOS</a></li>
				<li><a href="/setup-up-and-configure-websvn">Setup up and Configure WebSVN</a></li>
				<li><a href="/install-and-configure-svn-on-centos">Install and Configure SVN on CentOS</a></li>
				<li><a href="/install-and-configure-mysql-on-centos">Install and Configure MySQL on CentOS</a></li>
				<li><a href="/install-and-configure-apache-on-centos">Install and Configure Apache on CentOS</a></li>
				<li><a href="/postgres-dump-to-csv">Postgres Dump to CSV</a></li>
			</ul>
		</div>
	</div>

	<!-- google analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
	        _gaq.push(['_setAccount', 'UA-12380236-11']);
	        _gaq.push(['_trackPageview']);

		var _gaq_rollup = _gaq || [];
		_gaq_rollup.push(['_setAccount', 'UA-12380236-19']);
		_gaq_rollup.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>
</body>
</html>